<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
       <a href="/Todo/Index">List</a>
    <form method="post"> 
        <input type="text" placeholder="Title" name="title" required="" />
        <input type="text" placeholder=" Description" name="Description"  />
        <input type="datetime-local"  name="DateTime"  />  
        <button>Create Task</button>
    </form>
</body>
</html>
