<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bdu</title>
</head>
<body>
    <ul>
      @foreach (var item in ViewBag.Qerdesler)
        {
            <li> @item</li>

        }
    </ul>
</body>
</html>
